html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100vw;
    overflow-x: hidden;
    background: black;
    background-image: radial-gradient(#fdfdfd71 1px, transparent 0);
    background-size: 40px 40px;
    background-position: center;
    font-family: 'Lucidia Console', monospace;
}

.container {
    display: flex;
    flex-direction: column;
    color: #000;
    flex: 1 0 auto;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    justify-content: center;
    color: #ffffff;
    z-index: 10;
}

@media (min-width: 800px) {
    .textContainer {
        display: flex;
        margin-top: 15vh;
        justify-content: center;
        align-content: center;
        font-size: 2rem;
        flex-wrap: wrap;
        flex-direction: column;
        height: auto;
        text-shadow: #686868 0 0 5px, #ffffff4f 0 0 50px;
    }

    .title {
        text-align: center;
        height: auto;
        margin: 0;
        margin-bottom: 16px;
    }

    .subheading {
        text-align: center;
        height: auto;
        margin: 0;
        margin-bottom: 16px;
    }

    .socials {
        text-align: center;
        height: auto;
        margin: 0;
        font-size: 1.5rem;
    }

    .footerContent {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 75%;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .line {
        border: 1px solid #808080;
        width: 100%;
        max-width: 1250px;
        margin: 0;
        margin-top: 20px;
        z-index: 10;
    }

    .footerText {
        text-align: center;
        margin: 0;
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 1rem;
        color: #d3d3d3;
    }
}

@media (max-width: 800px) {
    .textContainer {
        display: flex;
        margin-top: 15vh;
        justify-content: center;
        align-content: center;
        font-size: 1.5rem;
        flex-wrap: wrap;
        flex-direction: column;
        height: auto;
        text-shadow: #686868 0 0 5px, #ffffff4f 0 0 50px;
    }

    .title {
        text-align: center;
        height: auto;
        margin: 0;
        margin-bottom: 16px;
    }

    .subheading {
        text-align: center;
        height: auto;
        margin: 0;
        margin-bottom: 16px;
    }

    .socials {
        text-align: center;
        height: auto;
        margin: 0;
        font-size: 1.5rem;
    }

    .footerContent {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 85%;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .line {
        border: 1px solid #808080;
        width: 100%;
        margin: 0;
        margin-top: 20px;
        z-index: 10;
    }

    .footerText {
        text-align: center;
        margin: 0;
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 1rem;
        color: #d3d3d3;
    }
}

.footerContainer {
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 2rem;
    flex-wrap: wrap;
    flex-direction: column;
    height: auto;
    width: 100%;
    position: relative;
    bottom: 0;
    z-index: 10;
    border: 0 solid #ffffff30;
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9));
    padding-top: 50px;
}

.link {
    color: #20b2aa;
}

a {
    text-decoration: none;
    color: inherit;
}

a:active {
    text-decoration: none;
    color: inherit;
}

a:visited {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
    color: inherit;
}