html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100vw;
    overflow-x: hidden;
    background: black;
    background-image: radial-gradient(#fdfdfd71 1px, transparent 0);
    background-size: 40px 40px;
    font-family: 'Lucidia Console', monospace;
}

.container {
    display: flex;
    flex-direction: column;
    color: #000;
    flex: 1 0 auto;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    justify-content: center;
    color: #ffffff;
}

@media (min-width: 800px) {
    .textContainerMobile {
        display: none;
    }

    .footerContentMobile {
        display: none;
    }

    .textContainerDesktop {
        display: flex;
        justify-content: center;
        align-content: center;
        font-size: 2rem;
        flex-wrap: wrap;
        flex-direction: column;
        height: auto;
        text-shadow: #686868 0 0 5px, #ffffff4f 0 0 50px;
    }

    .titleDesktop {
        text-align: center;
        height: auto;
        margin: 0;
        margin-bottom: 16px;
    }

    .subheadingDesktop {
        text-align: center;
        height: auto;
        margin: 0;
        margin-bottom: 16px;
    }

    .socialsDesktop {
        text-align: center;
        height: auto;
        margin: 0;
        font-size: 1.5rem;
    }

    .footerContentDesktop {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 75%;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .lineDesktop {
        border: 1px solid #808080;
        width: 100%;
        max-width: 1250px;
        margin: 0;
        margin-top: 20px;
    }

    .footerTextDesktop {
        text-align: center;
        margin: 0;
        margin-top: 20px;
        margin-bottom: 40px;
        font-size: 1rem;
        color: #d3d3d3;
    }
}

@media (max-width: 800px) {
    .textContainerDesktop {
        display: none;
    }

    .footerContentDesktop {
        display: none;
    }

    .textContainerMobile {
        display: flex;
        justify-content: center;
        align-content: center;
        font-size: 1.5rem;
        flex-wrap: wrap;
        flex-direction: column;
        height: auto;
        text-shadow: #686868 0 0 5px, #ffffff4f 0 0 50px;
    }

    .titleMobile {
        text-align: center;
        height: auto;
        margin: 0;
        margin-bottom: 16px;
    }

    .subheadingMobile {
        text-align: center;
        height: auto;
        margin: 0;
        margin-bottom: 16px;
    }

    .socialsMobile {
        text-align: center;
        height: auto;
        margin: 0;
        font-size: 1.5rem;
    }

    .footerContentMobile {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 85%;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .lineMobile {
        border: 1px solid #808080;
        width: 100%;
        margin: 0;
        margin-top: 20px;
    }

    .footerTextMobile {
        text-align: center;
        margin: 0;
        margin-top: 20px;
        margin-bottom: 40px;
        font-size: 1rem;
        color: #d3d3d3;
    }
}

.footerContainer {
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 2rem;
    flex-wrap: wrap;
    flex-direction: column;
    height: auto;
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: 0;
    background: rgba(180, 93, 93, 0);
    box-shadow: 0 0 30px #000000;
    backdrop-filter: blur(1.5px);
    -webkit-backdrop-filter: blur(1.5px);
    border: 0 solid #ffffff30;
}

.link {
    color: #20b2aa;
}

a {
    text-decoration: none;
    color: inherit;
}

a:active {
    text-decoration: none;
    color: inherit;
}

a:visited {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
    color: inherit;
}